.listMain {
    display: flex;
    flex-direction: column;
}

.listItem {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px 0px 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.listItem > p.content {
    flex: 1;
}

.listItem > input {
    width :25px;
}

.listItem > p.date{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.listItem >button {
    color: gray;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}